{% extends "base.html" %}

{% block page_title %}| add item {% endblock page_title %}

{% block super %}
<p>Choose a category:</p>
<ul>
  {% for category in categories %}
  <li><a href="{% url shoppinglists.views.add_item shoppinglist_id=shoppinglist_id, category_id=category.id %}">{{ category }}</a></li>
  {% endfor %}
</ul>

{% if category_id %}
<p>Choose a product:</p>
<ul>
  {% for product in products %}
  <li><a href="{% url shoppinglists.views.add_item shoppinglist_id=shoppinglist_id, category_id=category_id, product_id=product.id %}">{{ product }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if product_id %}
  <form method="post" action="{% url shoppinglists.views.add_item shoppinglist_id=shoppinglist_id, category_id=category_id, product_id=product_id %}"> {% csrf_token %}
  <table>
    {{ form.as_table }}
    <tr><th><input type="submit" value="Submit" /></th></tr>
  </table>
  </form>
{% endif %}

{% endblock super %}
