{% extends "base.html" %}

{% block super %}
<h1>{{ list }}</h1>
<ul>
  {% for item in list.item_set.all %}
  <li><a href="/products/{{ item.product.id }}">{{ item.product }}</a> {{ item.amount|floatformat }} {{ item.product.unit }}
  <a href="{% url shoppinglists.views.delete_item shoppinglist_id=list.id, item_id=item.id %}">Delete</a></li>
  {% endfor %}
</ul>
<p><a href="{% url shoppinglists.views.add_item shoppinglist_id=list.id %}">Add a new item to shoppinglist.</a></p>
<p><a href="{% url shoppinglists.views.delete shoppinglist_id=list.id %}">Delete this shoppinglist.</a></p>
{% endblock super %}
