{% extends "base.html" %}

{% block page_title %}login{% endblock page_title %}

{% block left_col %}
{% load webdesign %}
{% lorem 3  p %}
{% endblock left_col %}

{% block right_col %}
<h1>Blackem</h1>

<p>Please login, or register if you don't have an account.</p>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.login %}"> {% csrf_token %}
<table>
  {{ form.as_table }}
</table>
<input type="submit" value="login" />
</form>
<a href="/register">Register</a>

{% endblock right_col %}
